body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
}

.header {
    background: #F3C6BD;
    padding: 30px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > div:first-child {
    margin-right: 15px;
}


.header-li {
    display: inline-block;
}

.logo-bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-li > a {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
} 

.header-li > a:hover{
    font-weight: bold;
}

.header-li:not(:last-child) {
    margin-right: 20px;
}

.header-nav > div {
    margin-left: 75px;
}

.button {
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background: white;
    color: #3040C4;
    transition: 1s;
}

.section-what-who {
    background-color: #F4F5F7;
    padding: 77px 0 76px 0;
}

.container-what-who {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.container-what-who > div > p:first-child {
    font-weight: bold;
    padding-bottom: 20px;
}

.section-logos {
    background-color: white;
    padding: 30px 0 100px 0;
}

.container-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-categories {
    background-color: rgba(0, 161, 198, 0.07);
    padding: 110px 100px;
    color: #2B292D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-categories-text {
    max-width: 555px;
    text-align: center;
}

.text-block-caption-small {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
}

.text-block-caption-big {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    padding-top: 24px;
}

.text-block-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    padding: 30px 0 30px 0;
}

.button_white {
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: black;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}

.button_white:hover {
    background: #3040C4;
    color: black;
    transition: 1s;
}

.categories-images {
    display: grid;
    grid-template-columns: 262px 262px 262px 262px;
    grid-template-rows: 300px;
    grid-gap: 30px;
    padding: 111px 0 0 0;
}


.categories-images-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0 33px 0;
    justify-content: space-between;
    border-radius: 8px;
    cursor: pointer;
}

.categories-images-item:hover {
    background: #3040C4;
    color: white;
    transition: 1s;
}

.container-grid-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.container-grid-photo-text {
    max-width: 554px;
}

.text-block-caption-big-p {
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    padding-top: 90px;
    color: black;
}

.container-grid-photo-img {
    display: grid;
    grid-template-columns: 347px 347px 347px;
    grid-template-rows: 208px 208px 208px;
    grid-gap: 50px;
}

.container-grid-photo-img-item {

}

.container-grid-photo-img-item:nth-child(3), .container-grid-photo-img-item:nth-child(4){
    grid-row: span 2;
}
