.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 800px;
    gap: 30px;
}

.item {
    background: burlywood;
}

.item:nth-child(1), .item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}

.item:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}

.item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 3;
}

.item:nth-child(6) {
    grid-column: span 3;
    grid-row: span 2;
}