body {
    max-width: 1105px;
    background-color: white;
    margin: 0 auto;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
}

#main_section_3 {
    background-image: url("../img/background_order_now.png");
    height: 390px;
    padding: 119px 0px 0px 0px;
}

.back_image_sections {
    color: white;
    text-align: center;
    line-height: 57px;
}

h2 {
    font-weight: bold;
    font-size: 40px;
}

button {
    color: white;
    border: 1px solid;
    font-weight: bold;
}

.buttons_bottom {
    padding: 18px 31px 18px 31px;
    border-radius: 10px;
}

.buttons_colored {
    background: #FA4A0C;
    border: #FA4A0C;
}

.buttons_transparent {
    background: rgba(0, 0, 0, 0);
}