body {
    background-color: white;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
}

.width_container {
    max-width: 1105px;
    margin: 0 auto;
}

.display_2col_container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin: 40px auto;
}

.nav-li {
    display: inline-block;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
}

.nav-li:not(:last-of-type){
    margin-right: 90px;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: #FA4A0C;
}



#main_section_1 {
    background-image: url('../img/background_top.png');
    color:white;
    text-align: center;
    padding: 80px 0 162px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h6 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px
}

h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 750px;
    margin: 10px auto;
}

h2 {
    font-family: Poppins;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    font-weight: 600;
    text-align: center;
    margin: 56px;
}

.mobile {
    /* display: flex;
    justify-content: space-between; */
    /* margin-bottom: 60px; */
    margin: 70px auto 108px auto;
}

.mobile-pretitle {
    font-weight: bold;
    line-height: 36px;
    color: #FA4A0C;
}

h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    max-width: 570px;
    margin: 17px auto; 
}

.mobile-text {
    color: #737373;
    max-width: 467px;
    margin: 27px 0 0 0; 
}


#main_section_3 {
    background-image: url("../img/background_order_now.png");
    color:white;
    text-align: center;
    padding: 147px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 80px 0 101px 0;
}


h4 {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px
}

button {
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

.buttons_top {
    width: 236px;
    height: 68px;
    border-radius: 30px;
    line-height: 38px;
    font-size: 24px;
}

.buttons_top:first-of-type {
    background: #FA4A0C;
    border: #FA4A0C;
    margin-right: 67px;
}

.buttons_top:last-of-type {
    background: none;
}

#ord_for_hung_capt {
    margin-bottom: 54px;
}



#av_on_store_capt {
    margin-top: 20px;
    margin-bottom: 49px;
}



.buttons_bottom {
    border-radius: 10px;
    font-size: 16px;
    line-height: 28px;

}

.buttons_bottom:first-of-type {
    background: #FA4A0C;
    border: #FA4A0C;
    margin-right: 16px;
    padding: 18px 31px 18px 31px;
}

.buttons_bottom:last-of-type {
    background: none;
    padding: 16px 45px;
}

#subtitle {
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    
}

