body {
    background-color: white;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
}

.width_container {
    max-width: 1105px;
    margin: 0 auto;
}

.display_2col_container {
    display: flex; align-items: center; justify-content: space-between;
}


#main_section_1 {
    background-image: url('../img/background_top.png');
    color:white;
    text-align: center;

}

h6 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px
}

h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 750px;
    margin: 10px auto;
}

#main_section_3 {
    background-image: url("../img/background_order_now.png");
    height: 390px;
    padding: 119px 0px 0px 0px;
}

.back_image_sections {
    color: white;
    text-align: center;
    line-height: 57px;
}

h2 {
    font-weight: bold;
    font-size: 40px;
}

button {
    color: white;
    border: 1px solid;
    font-weight: 700;
}

.buttons_top {
    width: 236px;
    height: 68px;
    border-radius: 30px;
}

.buttons_top:first-of-type {
    background: #FA4A0C;
    border: #FA4A0C;
}

.buttons_bottom {
    padding: 18px 31px 18px 31px;
    border-radius: 10px;
}

.buttons_colored {
    background: #FA4A0C;
    border: #FA4A0C;
}

.buttons_transparent {
    background: rgba(0, 0, 0, 0);
}