.box {
    width: 100px;
    height: 100px;
    background: aqua;
}

.box:hover {
    background: green;
    transition: 200ms;
}

.link:hover {
    font-size: 30px;
    color: blue;
}

.link:visited {
    color: black;
}

.link:active {
    color: grey;
}

.input {
    width: 300px;
    padding: 20px;

}

.input:focus {
    /* outline-color: green; */
    outline: none;
}

.input::placeholder {
    font-size: 30px;
}

li {
    display: inline-block;
    /* margin-left: 20px; */
    position: relative;
}

li:not(:first-child) {
    margin-left: 20px;
}

li:nth-child(2n+1) {
    color: brown;
}

li:hover::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: black;
    bottom: -5px;
}

li:hover::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: black;
    left: 0;
}